@media all and (min-width:350px){
    .copyright{
        margin-left: 1%;
        margin-right: 9%;
        font-size:small;
        display: inline;
        
    }
    .pic{
        margin-right: 1%;
    }
    .pic1{
        margin-right: 1%;
    }
    .pic2{
        margin-right: 1%;
    }
}
@media all and (min-width:600px)
{
    .copyright{
        margin-left: 1%;
        display: inline-block;
    }
    .pic{
        margin-left: 60%;
        
    }
    .pic1{
        margin-left: 1%;
    
    }
    .pic2{
        margin-left: 1%;
    }
    
}
@keyframes headinganim {
   
    0% {color:rgb(218, 130, 58); left: 0px; right:0px;}

    100%{color:rgb(212, 76, 71);left: 200px;right:0px;}
}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  @keyframes zoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}
  @keyframes zoominout1 {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    /* background-image: url(home-banner.jpg); */
    background-size: cover;
    background-color: rgba(224, 214, 214, 0.884);
}
/* Nav bar */
.nav-font{
    font-size: 15px;

 
}

.nav-move{
    margin-left: 77%;
}
.logoimg{
    width:150px;
    height: 90px;
}
.text{
    margin-top: 17%;
font-family: 'Itim', cursive;
font-size: 250%;
font-weight: bolder;


}
.video-card{
    margin-top: 20%;
    border-style: solid;
    border-color: black;
}

.video-card img{
    border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to left, #625b6e, #d85f5f);
  padding: 0px;
  box-shadow: 10px 10px 5px rgb(179, 147, 147);
}
.row1{
    margin-top: 170px;
}

.card{
    height:130px;
}



.ab{
    height: 95%;
    width:100%;
    border-image-source: linear-gradient(to left, #625b6e, #d85f5f);
    border-radius: 0px 50px 50px 0px;
    
    box-shadow: 10px 10px 5px rgb(179, 147, 147);

}
.ab img{
    height: 100px;
}
.bg_text{
    height:107px;
    border-radius: 0px 50px 50px 0px;
}
.blue-clr{
    color: rgb(72, 72, 243);
}
.text1{
    
    margin-bottom: 8%;
}
.row2{
    margin-left: 20%;
}
.i_size{
    width:100px;
    height:120px;
}





.video-card1{
    
    border-style: solid;
    border-color: black;
    margin-bottom: 50%;
}
.video-card1 img{
    border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to left, #dfdbdb, #0f0f0f);
  padding: 0px;
  box-shadow: 10px 10px 5px rgb(134, 126, 126);
  margin-top: 5%;
}
.text2{
    margin-top: 8%;
    font-family: 'Itim', cursive;
    font-size: 250%;
    font-weight: bolder;
    text-align: center;
}
.text2:hover{
    animation-name: headinganim;
animation-duration: 2s;
}
.img4{
    width:100%;
    margin-top: 3%;
    height:115px;
}
.img5{
    width:50%;
    margin-left:27%;
}
.img6{
    margin-top: 7%;
    height:80%;
    width:90%;
    margin-left:5%;
}
.ab1{
    margin-left: 10%;
    margin-bottom: 4%;
    height: 95%;
    width:80%;
    border-width: 5px;
    /* border-image-source: linear-gradient(to left, #cc3434, #d86161); */
    border-radius: 10px 10px 10px 10px;
    border-color:rgba(150, 78, 78, 0.671) ;
        box-shadow: 10px 10px 5px rgb(179, 147, 147);

}
.ab4{
    margin-top: 10%;
}
.video_card2{
    margin-top: 13%;
    border-style: solid;
    border-color: black;
    width:90%;
    height:50%;  
    margin-left: 7%;
    
}
.video_card2 img{
   
    border: 10px solid;
  border-image-slice: 1;
  border-width: 10px;
  border-image-source: linear-gradient(to left, #dfdbdb, #0f0f0f);
  padding: 0px;
  box-shadow: 10px 10px 5px rgb(134, 126, 126);
}

.text_center{
    margin-top: 1%;
    text-align: center;
    font-family: 'Itim', cursive; 
    font-size: 200%;
    color: rgb(5, 5, 151);
    font-weight: bold;
}
.fclass{
    margin-left: 42%;
    border-radius: 12px;
    margin-bottom: 5%;
}
.img7{
    margin-left: 19%;
    width:80%;
    height:90%;
    margin-bottom: 5%;
  box-shadow: 10px 10px 5px rgb(134, 126, 126);
}
.abfg{
    margin-top: 5%;
    margin-bottom: 10%;
}
.img_clr{
    margin-top: 20%;
    font-family: 'Itim', cursive; 
    font-size: 200%;
    color: rgb(48, 48, 197);
    font-weight: bold
}
.text_center1{
    margin-top: 1%;

    text-align: center;
    font-family: 'Itim', cursive; 
    font-size: 200%;
    color: black;
    font-weight: bold;
    
}
.text_center1:hover{
    animation-name: headinganim;
animation-duration: 2s;
}
.brown-clr{
    color: rgb(170, 67, 26);

}
.dwn-mve{
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius:50px 50px 50px 50px ;
    background-color:  rgba(184, 63, 87, 0.493);
    box-shadow: 10px 10px 5px rgb(134, 86, 86);
}
.aqwe{
    margin-top: 2%;
}
.aqwes{
    margin-bottom: 1.5%;
}
.img8{
    margin-left: 150px;

    width:80%;
    height:90%;
    margin-bottom: 5%;
  box-shadow: 10px 10px 5px rgb(134, 126, 126);
}
.qwe{
    background-color: rgb(255, 255, 255);
    margin-bottom: 5%;
    box-shadow: 10px 10px 5px rgb(134, 126, 126);

}
.img_clr1{
    color: rgb(83, 81, 81);
    text-align: center;
    font-family: 'Itim', cursive; 
    font-size: 200%;
    font-weight: bold;
}
.text_center2{
    margin-top: 1%;

    text-align: center;
    font-family: 'Itim', cursive; 
    font-size: 200%;
    color: rgb(99, 95, 95);
    font-weight:50px;
}
.dwn-5{
    background-color: rgba(127, 184, 184, 0.692);
}
.Gplay{
    margin-left: 18%;
    width: 30%;

}
.dwn-6{
    margin-top: 18%;
}
.iphone{
    width: 30%;
    margin-left: 2%;
}
.img_m{
    width: 60%;
    height: 100%;
}
.card_im{
    width:60%;  
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.137);
    background-size: 50%, 50%;
    border-radius: 50%;
    border: 1px solid rgb(8, 8, 8);
}


footer{
    bottom: 0;
    left: 0;
    width: 100%;
    
    background-color:rgb(65, 69, 71);
    color: white;
}
.aq:hover{
    opacity: 1;
    animation: shake 0.5s;
  animation-iteration-count: infinite;
}
.img7{
    animation: zoominout 1s  ;
}
.ab1:hover{

    animation: zoominout 1s  ;

}
.ab:hover{
    animation: zoominout 1s ;
}
.qwe :hover{
    animation: zoominout1 1s ;

}